body {
    padding: 20px 50px;
}

input[type="text"] {
    width: 150px;
    padding: 5px;
    padding-right: 50px;
    font-size: 15px;
}

.goButton {
    margin-left: -45px;
}

.hide {
    display: none;
}